*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    background-color: grey;
}


.video-container {
    display: none;
}

.webgl
{
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
